.navbar {
    background-color: white;
    color: black;
    height: 4.4rem;
    
    #title {
        font-family: dfont !important;
        font-weight: bold;
        font-size: 1.8rem;
        letter-spacing: 0.275rem;
        word-spacing: 0.05rem;
    }
}
